<!-- about.component.html -->
<section id="about" class="about">
    <h2>About Me</h2>
    <p>I am a passionate web developer and I am currently learning web development and have experience working with backend technologies like .NET Web API. Now, I am expanding my skills by exploring Angular for front-end development. </p>
    <p>In my free time, I love exploring new tech trends, contributing to open-source projects, and continuously learning to improve my skills, and right now i am focused on learning to improve website performance by implementing Service Worker and Caching and also Microfrontend architecture with Module Federation.</p>
  </section>
  