<!-- skills.component.html -->
<section id="skills" class="skills">
    <h2>My Skills</h2>
    <div class="skill-circles">
      <div class="skill-circle skill-circle-angular">
        <span>Angular</span>
      </div>
      <div class="skill-circle skill-circle-typescript">
        <span>TypeScript</span>
      </div>
      <div class="skill-circle skill-circle-css">
        <span>C#</span>

      </div>
      <div class="skill-circle skill-circle-dotnet">
        <span>.Net Web API</span>
      </div>
    </div>
  </section>
  